@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto Mono", monospace;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}
